<img src="https://github.com/cunningt/cunningt/workflows/Update%20README/badge.svg">
---------------


$bio


Most recent 🦣 Mastodon posts:
---------------

#foreach($toot in $toots)

🦣  [$toot.pubDateZonedDateTime.get()]($toot.link.get())

$toot.description.get()

#end

